li a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
ul{
    /* border: 2px solid red; */
    margin-left: 80px;
    
}
#newsdivs{
    margin: 20px 10px;
}
#newsdivs div{
    margin: 10px;
    /* width: ; */
}